@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .swap-widget {
    &.light {
      --primary-100: rgba(242, 234, 240, 1);
      --primary-200: rgba(117, 39, 100, 0.2);
      --primary-300: rgba(117, 39, 100, 0.03);
      --primary-400: rgba(117, 39, 100, 0.4);
      --primary-500: rgba(117, 39, 100, 0.5);
      --primary-600: rgba(117, 39, 100, 0.6);
      --primary-700: rgba(117, 39, 100, 0.7);
      --primary-800: #752764;

      --secondary-100: rgba(138, 154, 185, 0.1);
      --secondary-200: rgba(138, 154, 185, 0.2);
      --secondary-300: rgba(138, 154, 185, 0.3);
      --secondary-400: rgba(138, 154, 185, 0.4);
      --secondary-500: rgba(138, 154, 185, 0.5);
      --secondary-600: rgba(138, 154, 185, 0.6);
      --secondary-700: rgba(138, 154, 185, 0.7);
      --secondary-800: #8a9ab9;
      --secondary-900: #752764;
      --secondary-black: #00013a;
      --secondary-black-80: #333461;
    }
    &.dark {
      --primary-100: rgba(108, 169, 255, 1);
      --primary-200: rgba(157, 67, 138, 0.2);
      --primary-300: rgba(17, 50, 97, 1);
      --primary-400: rgba(157, 67, 138, 0.4);
      --primary-500: rgba(157, 67, 138, 0.5);
      --primary-600: rgba(157, 67, 138, 0.6);
      --primary-700: rgba(157, 67, 138, 0.7);
      --primary-800: rgba(32, 122, 249, 1);
      --primary-900: rgba(32, 122, 249, 1);
      --primary-hover: rgba(0, 97, 235, 1);

      /* Secondary */
      --secondary-100: rgba(138, 154, 185, 0.1);
      --secondary-200: rgba(138, 154, 185, 0.2);
      --secondary-300: rgba(138, 154, 185, 0.3);
      --secondary-400: rgba(138, 154, 185, 0.4);
      --secondary-500: rgba(138, 154, 185, 0.5);
      --secondary-600: rgba(138, 154, 185, 0.6);
      --secondary-700: rgba(138, 154, 185, 0.7);
      --secondary-800: #868c99;
      --secondary-900: #752764;
      --secondary-black: #fcfcfc;
      --secondary-grey: rgba(50, 58, 70, 1);
      --secondary-grey-5: rgba(16, 25, 37, 1);
      --secondary-grey-10: rgba(33, 41, 54, 1);
    }
  }
}
