@tailwind base;
@tailwind components;
@tailwind utilities;

.swap-widget.light {
  --primary: #752764;
  --fontFamily: ;
  --error: rgb(255 42 87);
  --inputContainer: rgba(138, 154, 185, 0.1);
  --inputBorder: rgba(138, 154, 185, 0.1);
  --container: #fff;
  --dialog: #fff;
  --textDark: #090308;
  --textWhite: #fff;
  --textGrey: #8a9ab9;
  --disabled: rgba(232, 235, 241, 1);
  --interactive: #ffffff;
  --interactiveBorder: rgba(138, 154, 185, 0.2);
  --interactiveBorderRadius: 9999px;
  --placeholder: ;
  --width: 360px;
}

.swap-widget.dark {
  --primary: #752764;
  --fontFamily: ;
  --error: rgb(255 42 87);
  --inputContainer: rgba(138, 154, 185, 0.1);
  --inputBorder: rgba(138, 154, 185, 0.1);
  --container: #fff;
  --dialog: #fff;
  --textDark: #090308;
  --textWhite: #fff;
  --textGrey: #8a9ab9;
  --disabled: rgba(232, 235, 241, 1);
  --interactive: #ffffff;
  --interactiveBorder: rgba(138, 154, 185, 0.2);
  --interactiveBorderRadius: 9999px;
  --placeholder: ;
  --width: 360px;
}
